body {
  margin: 0;
  font-family: serif;
}

code {
  font-family: serif;
}
.Main_section {
  background-image: url("./assets/Images/header_img.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
}
.counter {
  background-image: url("./assets/Images/counter.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 40vh; /* You must set a specified height */
  background-position: center; /* Center the image */
}
